<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>

<body>

<div class="container">

    <h3>Объявления о продаже недвижимости</h3>
    <hr>

    <p class="h4 mb-4">Добавить новое объявление в систему</p>

    <form action="#" th:action="@{/adverts/save}"
          th:object="${advert}" method="POST" enctype="multipart/form-data">

        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{title}"
               class="form-control mb-4 col-4" placeholder="Название"/>
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger col-4" >Title Error</p>

        <input type="file" name="file"/>
        <input type="hidden" th:field="*{filename}" />

        <input type="text" th:field="*{price}"
               class="form-control mb-4 col-4" placeholder="Цена">
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="alert alert-danger col-4" >Price Error</p>

        <input type="text" th:field="*{description}"
               class="form-control mb-4 col-4" placeholder="Описание">
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger col-4" >Description Error</p>

        <button type="submit" class="btn btn-info col-2">Добавить</button>

    </form>

    <a th:href="@{/adverts/list}">Назад к списку объявлений</a>

</div>
</body>
</html>
