<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Объявления о продаже недвижимости</title>
</head>

<body>

<div class="container">

    <h3>Объявления о продаже недвижимости</h3>
    <hr>

    <form th:action="@{/adverts/search}" class="form-inline">
        <a th:href="@{/adverts/showFormForAdd}"
           class="btn btn-primary btn-sm mr-5 mb-3">
            Добавить объявление
        </a>

        <input class="form-control  ml-5 mr-sm-2 mb-3" type="search" name="advertTitle" placeholder="Поиск по имени" />

        <button class="btn btn-success mb-3" type="submit">Поиск</button>
    </form>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Название</th>
            <th>Изображение</th>
            <th>Цена</th>
            <th>Описание</th>
            <th>Дата добавления</th>
            <th>Автор</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempAdvert : ${adverts}">

            <td th:text="${tempAdvert.title}" />
            <td th:text="${tempAdvert.photo}" />
            <td th:text="${tempAdvert.price}" />
            <td th:text="${tempAdvert.description}" />
            <td th:text="${tempAdvert.added}" />
            <td th:text="${tempAdvert.author.getUsername()}" />

        </tr>
        </tbody>
    </table>

    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Выйти" class="btn btn-outline-primary mt-2" />
    </form>

</div>

</body>
</html>